In [1]:
import pandas as pd 
import numpy as np

In [2]:
# Get stats from csv
box_score_df = pd.read_csv('boxscore_data.csv')

C:\Users\goche\AppData\Local\Temp\ipykernel_31264\793155810.py:2: DtypeWarning: Columns (26,56) have mixed types. Specify dtype option on import or set low_memory=False.
  box_score_df = pd.read_csv('boxscore_data.csv')

In [3]:
# # This function is not working yet

# # Function to get advanced stats for a specific game
# def get_advanced_stats(game_id):
#     boxscore_advanced = BoxScoreAdvancedV3(game_id)
#     player_stats = boxscore_advanced.player_stats.get_data_frame()
#     return player_stats

# # Function to iterate through games and create a DataFrame
# def create_advanced_stats_dataframe(game_ids):
#     player_stats_list = []

#     for game_id in game_ids:
#         player_stats = get_advanced_stats(game_id)
#         player_stats_list.append(player_stats)

#     all_player_stats = pd.concat(player_stats_list, ignore_index=True)

#     return all_player_stats

# # Extract the list of game IDs from the 'Game_ID' column of 'raptors_df'
# game_ids_list = box_score_df['game_id'].tolist()

# player_adv_stats_df = create_advanced_stats_dataframe(game_ids_list)

In [3]:
box_score_df = box_score_df.dropna(subset=['three_point_field_goals_made'])

# box_score_df = box_score_df[box_score_df['season'] >= 2015]
box_score_df = box_score_df.sort_values('game_id', ascending=True)
box_score_df.head()

,game_id,season,season_type,game_date,game_date_time,athlete_id,athlete_display_name,team_id,team_name,team_location,...,opponent_team_id,opponent_team_name,opponent_team_location,opponent_team_display_name,opponent_team_abbreviation,opponent_team_logo,opponent_team_color,opponent_team_alternate_color,opponent_team_score,reason
30008,211030005,2002,2,2001-10-30,2001-10-31T00:00:00Z,779.0,Brian Skinner,5,Cavaliers,Cleveland,...,2,Celtics,Boston,Boston Celtics,BOS,https://a.espncdn.com/i/teamlogos/nba/500/bos.png,006532,f1f2f3,108,NaN
30014,211030005,2002,2,2001-10-30,2001-10-31T00:00:00Z,811.0,Bryant Stith,5,Cavaliers,Cleveland,...,2,Celtics,Boston,Boston Celtics,BOS,https://a.espncdn.com/i/teamlogos/nba/500/bos.png,006532,f1f2f3,108,NaN
30011,211030005,2002,2,2001-10-30,2001-10-31T00:00:00Z,159.0,Bimbo Coles,5,Cavaliers,Cleveland,...,2,Celtics,Boston,Boston Celtics,BOS,https://a.espncdn.com/i/teamlogos/nba/500/bos.png,006532,f1f2f3,108,NaN
30010,211030005,2002,2,2001-10-30,2001-10-31T00:00:00Z,992.0,DeSagana Diop,5,Cavaliers,Cleveland,...,2,Celtics,Boston,Boston Celtics,BOS,https://a.espncdn.com/i/teamlogos/nba/500/bos.png,006532,f1f2f3,108,NaN
30009,211030005,2002,2,2001-10-30,2001-10-31T00:00:00Z,407.0,Jumaine Jones,5,Cavaliers,Cleveland,...,2,Celtics,Boston,Boston Celtics,BOS,https://a.espncdn.com/i/teamlogos/nba/500/bos.png,006532,f1f2f3,108,NaN

In [4]:
# Adding the free_throw_percent column
box_score_df['free_throw_percent'] = box_score_df['free_throws_made'] / box_score_df['free_throws_attempted']
box_score_df = box_score_df.dropna(subset=['free_throw_percent'])
box_score_df.head()

,game_id,season,season_type,game_date,game_date_time,athlete_id,athlete_display_name,team_id,team_name,team_location,...,opponent_team_name,opponent_team_location,opponent_team_display_name,opponent_team_abbreviation,opponent_team_logo,opponent_team_color,opponent_team_alternate_color,opponent_team_score,reason,free_throw_percent
30011,211030005,2002,2,2001-10-30,2001-10-31T00:00:00Z,159.0,Bimbo Coles,5,Cavaliers,Cleveland,...,Celtics,Boston,Boston Celtics,BOS,https://a.espncdn.com/i/teamlogos/nba/500/bos.png,006532,f1f2f3,108,NaN,1.0
30013,211030005,2002,2,2001-10-30,2001-10-31T00:00:00Z,457.0,Trajan Langdon,5,Cavaliers,Cleveland,...,Celtics,Boston,Boston Celtics,BOS,https://a.espncdn.com/i/teamlogos/nba/500/bos.png,006532,f1f2f3,108,NaN,1.0
30007,211030005,2002,2,2001-10-30,2001-10-31T00:00:00Z,557.0,Andre Miller,5,Cavaliers,Cleveland,...,Celtics,Boston,Boston Celtics,BOS,https://a.espncdn.com/i/teamlogos/nba/500/bos.png,006532,f1f2f3,108,NaN,0.5
30005,211030005,2002,2,2001-10-30,2001-10-31T00:00:00Z,207.0,Michael Doleac,5,Cavaliers,Cleveland,...,Celtics,Boston,Boston Celtics,BOS,https://a.espncdn.com/i/teamlogos/nba/500/bos.png,006532,f1f2f3,108,NaN,1.0
30003,211030005,2002,2,2001-10-30,2001-10-31T00:00:00Z,586.0,Lamond Murray,5,Cavaliers,Cleveland,...,Celtics,Boston,Boston Celtics,BOS,https://a.espncdn.com/i/teamlogos/nba/500/bos.png,006532,f1f2f3,108,NaN,0.0

In [5]:
# Adding possessions column
box_score_df['possessions'] = box_score_df['field_goals_attempted'] + (0.44 * box_score_df['free_throws_attempted']) - box_score_df['offensive_rebounds'] + box_score_df['turnovers']

In [6]:
# Adding orating column
box_score_df['orating'] = 100 * (box_score_df['points']/box_score_df['possessions'])

In [7]:
# Filtering the dataframe for necessary columns
box_score_df_filtered = box_score_df[['game_id','game_date', 'season', 'season_type', 'athlete_display_name','team_name', 'team_id', 'minutes', 'three_point_field_goals_made', 'free_throw_percent', 'offensive_rebounds', 'orating']]
box_score_df_filtered.head()

,game_id,game_date,season,season_type,athlete_display_name,team_name,team_id,minutes,three_point_field_goals_made,free_throw_percent,orating
30011,211030005,2001-10-30,2002,2,Bimbo Coles,Cavaliers,5,15.0,0.0,1.0,154.639175
30013,211030005,2001-10-30,2002,2,Trajan Langdon,Cavaliers,5,24.0,2.0,1.0,104.501608
30007,211030005,2001-10-30,2002,2,Andre Miller,Cavaliers,5,29.0,0.0,0.5,56.675063
30005,211030005,2001-10-30,2002,2,Michael Doleac,Cavaliers,5,25.0,0.0,1.0,51.546392
30003,211030005,2001-10-30,2002,2,Lamond Murray,Cavaliers,5,14.0,0.0,0.0,80.645161

In [8]:
# Group by 'team_name', 'game_id', and 'season'
grouped_df = box_score_df_filtered.groupby(['game_id', 'team_name', 'team_id', 'season', 'game_date'])
grouped_df.head()

,game_id,game_date,season,season_type,athlete_display_name,team_name,team_id,minutes,three_point_field_goals_made,free_throw_percent,orating
30011,211030005,2001-10-30,2002,2,Bimbo Coles,Cavaliers,5,15.0,0.0,1.00,154.639175
30013,211030005,2001-10-30,2002,2,Trajan Langdon,Cavaliers,5,24.0,2.0,1.00,104.501608
30007,211030005,2001-10-30,2002,2,Andre Miller,Cavaliers,5,29.0,0.0,0.50,56.675063
30005,211030005,2001-10-30,2002,2,Michael Doleac,Cavaliers,5,25.0,0.0,1.00,51.546392
30003,211030005,2001-10-30,2002,2,Lamond Murray,Cavaliers,5,14.0,0.0,0.00,80.645161
...,...,...,...,...,...,...,...,...,...,...,...
746343,401636113,2024-02-15,2024,2,Klay Thompson,Warriors,9,28.0,7.0,1.00,152.972028
746342,401636113,2024-02-15,2024,2,Trayce Jackson-Davis,Warriors,9,8.0,0.0,1.00,138.888889
746340,401636113,2024-02-15,2024,2,Dario Saric,Warriors,9,10.0,1.0,1.00,143.442623
746338,401636113,2024-02-15,2024,2,Stephen Curry,Warriors,9,35.0,2.0,0.75,77.972710
746337,401636113,2024-02-15,2024,2,Andrew Wiggins,Warriors,9,29.0,3.0,1.00,147.515528

In [9]:
# Aggregate data
summary_data = grouped_df.agg(
    team_free_throw_percent=('free_throw_percent', 'mean'),
    team_three_pm=('three_point_field_goals_made', 'sum'),
    team_orating=('orating', 'mean'),
).reset_index()
summary_data = summary_data.sort_values('game_date')

summary_data.head()

,game_id,team_name,team_id,season,game_date,team_free_throw_percent,team_three_pm,team_orating
0,211030005,Cavaliers,5,2002,2001-10-30,0.750000,2.0,97.190422
23,211030026,Jazz,26,2002,2001-10-30,0.891156,2.0,123.831389
22,211030026,Bucks,15,2002,2001-10-30,0.819444,8.0,113.869923
21,211030024,Spurs,24,2002,2001-10-30,0.651042,10.0,118.665824
20,211030024,Clippers,12,2002,2001-10-30,0.739683,0.0,96.597515

In [19]:
# List of columns to process
columns_to_process = ['team_free_throw_percent', 'team_three_pm', 'team_orating']
    
def calculate_cumulative_stats(summary_data, column_name):
    # Calculate cumulative sum for the specified column
    summary_data[f'{column_name}_cumsum'] = summary_data.groupby(["team_name", "team_id", "season"])[column_name].cumsum()
    
    # Calculate game count
    summary_data[f'{column_name}_game_count'] = summary_data.groupby(["team_name", "team_id", "season"]).cumcount() + 1
    
    # Calculate average to date
    summary_data[f'{column_name}_avg_to_date'] = summary_data[f'{column_name}_cumsum'] / summary_data[f'{column_name}_game_count']
    
    # Calculate next game stats
    summary_data[f'{column_name}_next_game'] = summary_data.groupby(["team_name", "team_id", "season"])[column_name].shift(-1)

In [20]:
# Process each column
for column in columns_to_process:
    calculate_cumulative_stats(summary_data, column)
    
# Drop rows with NaN values
summary_data.dropna(inplace=True)

In [11]:
# # Calculate cumulative mean and next game stats for 'free_throw_percent'
# summary_data['free_throw_percent_cumsum'] = summary_data.groupby(["team_name", "team_id", "season"])['team_free_throw_percent'].cumsum()
# summary_data['free_throw_percent_game_count'] = summary_data.groupby(["team_name", "team_id", "season"]).cumcount() + 1
# summary_data['free_throw_percent_avg_to_date'] = summary_data['free_throw_percent_cumsum'] / summary_data['free_throw_percent_game_count']
# summary_data['team_free_throw_percent_next_game'] = summary_data.groupby(["team_name", "team_id", "season"])['team_free_throw_percent'].shift(-1)

In [12]:
# # Calculate cumulative mean and next game stats for 'three_point_field_goals_made'
# summary_data['three_pm_cumsum'] = summary_data.groupby(["team_name", "team_id", "season"])['team_three_pm'].cumsum()
# summary_data['three_pm_game_count'] = summary_data.groupby(["team_name", "team_id", "season"]).cumcount() + 1
# summary_data['three_pm_avg_to_date'] = summary_data['three_pm_cumsum'] / summary_data['three_pm_game_count']
# summary_data['team_three_pm_next_game'] = summary_data.groupby(["team_name", "team_id", "season"])['team_three_pm'].shift(-1)

In [13]:
# # Calculate cumulative mean and next game stats for orating
# summary_data['orating_cumsum'] = summary_data.groupby(["team_name", "team_id", "season"])['team_orating'].cumsum()
# summary_data['orating_game_count'] = summary_data.groupby(["team_name", "team_id", "season"]).cumcount() + 1
# summary_data['orating_avg_to_date'] = summary_data['orating_cumsum'] / summary_data['orating_game_count']
# summary_data['orating_next_game'] = summary_data.groupby(["team_name", "team_id", "season"])['team_orating'].shift(-1)

In [21]:
print(summary_data)

         game_id      team_name  team_id  season   game_date  \
0      211030005      Cavaliers        5    2002  2001-10-30
23     211030026           Jazz       26    2002  2001-10-30
22     211030026          Bucks       15    2002  2001-10-30
21     211030024          Spurs       24    2002  2001-10-30
20     211030024       Clippers       12    2002  2001-10-30
...          ...            ...      ...     ...         ...
58189  401585530           Nets       17    2024  2024-03-07
58195  401585533        Raptors       28    2024  2024-03-07
58205  401585538        Hornets       30    2024  2024-03-08
58207  401585539      Cavaliers        5    2024  2024-03-08
58218  401585544  Trail Blazers       22    2024  2024-03-08

       team_free_throw_percent  team_three_pm  team_orating  \
0                     0.750000            2.0     97.190422
23                    0.891156            2.0    123.831389
22                    0.819444            8.0    113.869923
21                    0.651042           10.0    118.665824
20                    0.739683            0.0     96.597515
...                        ...            ...           ...
58189                 0.776190            9.0    106.365039
58195                 0.738095           12.0    130.586578
58205                 0.700000            4.0     77.987957
58207                 0.709524            5.0    121.554421
58218                 0.577381           12.0    126.760358

       team_free_throw_percent_cumsum  team_free_throw_percent_game_count  \
0                            0.750000                                   1
23                           0.891156                                   1
22                           0.819444                                   1
21                           0.651042                                   1
20                           0.739683                                   1
...                               ...                                 ...
58189                       45.901741                                  63
58195                       46.295241                                  63
58205                       48.738997                                  63
58207                       47.464357                                  63
58218                       48.302869                                  62

       ...  team_three_pm_game_count  team_three_pm_avg_to_date  \
0      ...                         1                   2.000000
23     ...                         1                   2.000000
22     ...                         1                   8.000000
21     ...                         1                  10.000000
20     ...                         1                   0.000000
...    ...                       ...                        ...
58189  ...                        63                   8.793651
58195  ...                        63                   7.444444
58205  ...                        63                   8.158730
58207  ...                        63                   7.761905
58218  ...                        62                   8.645161

       team_team_three_pm_next_game  team_orating_cumsum  \
0                               0.0            97.190422
23                              2.0           123.831389
22                             13.0           113.869923
21                              6.0           118.665824
20                              2.0            96.597515
...                             ...                  ...
58189                          12.0          7970.120032
58195                          11.0          7602.672667
58205                           9.0          8141.132456
58207                          11.0          8014.341480
58218                          12.0          6257.823062

       team_orating_game_count  team_orating_avg_to_date  \
0                            1                 97.190422
23                           1                123.831389
22                           1                113.869923
21                           1                118.665824
20                           1                 96.597515
...                        ...                       ...
58189                       63                126.509842
58195                       63                120.677344
58205                       63                129.224325
58207                       63                127.211770
58218                       62                100.932630

       team_team_orating_next_game  team_free_throw_percent_next_game  \
0                       111.438889                           0.880682
23                      102.847495                           0.742857
22                      105.312623                           0.788095
21                      145.905273                           0.832200
20                      155.388842                           0.665441
...                            ...                                ...
58189                   111.099748                           0.763889
58195                   115.921149                           0.785714
58205                   133.221088                           0.816667
58207                   119.438847                           0.656250
58218                   129.114549                           0.944444

       team_three_pm_next_game  team_orating_next_game
0                          0.0              111.438889
23                         2.0              102.847495
22                        13.0              105.312623
21                         6.0              145.905273
20                         2.0              155.388842
...                        ...                     ...
58189                     12.0              111.099748
58195                     11.0              115.921149
58205                      9.0              133.221088
58207                     11.0              119.438847
58218                     12.0              129.114549

[56926 rows x 23 columns]

In [22]:
# Test to see if summary data is sorted and calculated properly
summary_data[(summary_data['team_id'] == 9) & (summary_data['season'] == 2018)]

,game_id,team_name,team_id,season,game_date,team_free_throw_percent,team_three_pm,team_orating,team_free_throw_percent_cumsum,team_free_throw_percent_game_count,...,team_three_pm_game_count,team_three_pm_avg_to_date,team_team_three_pm_next_game,team_orating_cumsum,team_orating_game_count,team_orating_avg_to_date,team_team_orating_next_game,team_free_throw_percent_next_game,team_three_pm_next_game,team_orating_next_game
41257,400974438,Warriors,9,2018,2017-10-17,0.912500,12.0,147.937644,0.912500,1,...,1,12.000000,8.0,147.937644,1,147.937644,120.230750,0.750000,8.0,120.230750
41269,400974444,Warriors,9,2018,2017-10-20,0.750000,8.0,120.230750,1.662500,2,...,2,10.000000,12.0,268.168394,2,134.084197,131.096330,0.833333,12.0,131.096330
41329,400974784,Warriors,9,2018,2017-10-21,0.833333,12.0,131.096330,2.495833,3,...,3,10.666667,11.0,399.264725,3,133.088242,137.221208,0.736111,11.0,137.221208
41353,400974796,Warriors,9,2018,2017-10-23,0.736111,11.0,137.221208,3.231944,4,...,4,10.750000,8.0,536.485933,4,134.121483,107.642421,0.791667,8.0,107.642421
41389,400974814,Warriors,9,2018,2017-10-25,0.791667,8.0,107.642421,4.023611,5,...,5,10.200000,8.0,644.128354,5,128.825671,138.921010,0.875000,8.0,138.921010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43853,401032765,Warriors,9,2018,2018-05-24,0.825000,10.0,99.606289,75.919098,97,...,97,7.835052,2.0,10226.314252,97,105.425920,126.368608,0.626984,2.0,126.368608
43855,401032766,Warriors,9,2018,2018-05-26,0.626984,2.0,126.368608,76.546083,98,...,98,7.775510,8.0,10352.682860,98,105.639621,127.541278,0.233333,8.0,127.541278
43857,401032767,Warriors,9,2018,2018-05-28,0.233333,8.0,127.541278,76.779416,99,...,99,7.777778,13.0,10480.224138,99,105.860850,149.110392,0.983333,13.0,149.110392
43873,401034613,Warriors,9,2018,2018-05-31,0.983333,13.0,149.110392,77.762749,100,...,100,7.830000,14.0,10629.334530,100,106.293345,138.982406,0.562500,14.0,138.982406
43875,401034614,Warriors,9,2018,2018-06-03,0.562500,14.0,138.982406,78.325249,101,...,101,7.891089,7.0,10768.316936,101,106.616999,129.370428,0.900000,7.0,129.370428

In [23]:
# Export to CSV
summary_data.to_csv('summary_data.csv', index=False, mode='w')