In [1]:
import pandas as pd 
import numpy as np 

from nba_api.stats.endpoints import BoxScoreAdvancedV3

In [2]:
# Get stats from csv
box_score_df = pd.read_csv('boxscore_data.csv')

C:\Users\goche\AppData\Local\Temp\ipykernel_21560\793155810.py:2: DtypeWarning: Columns (26,56) have mixed types. Specify dtype option on import or set low_memory=False.
  box_score_df = pd.read_csv('boxscore_data.csv')

In [3]:
# This function is not working yet

# Function to get advanced stats for a specific game
def get_advanced_stats(game_id):
    boxscore_advanced = BoxScoreAdvancedV3(game_id)
    player_stats = boxscore_advanced.player_stats.get_data_frame()
    return player_stats

# Function to iterate through games and create a DataFrame
def create_advanced_stats_dataframe(game_ids):
    player_stats_list = []

    for game_id in game_ids:
        player_stats = get_advanced_stats(game_id)
        player_stats_list.append(player_stats)

    all_player_stats = pd.concat(player_stats_list, ignore_index=True)

    return all_player_stats

# Extract the list of game IDs from the 'Game_ID' column of 'raptors_df'
game_ids_list = box_score_df['gameId'].tolist()

player_adv_stats_df = create_advanced_stats_dataframe(game_ids_list)

KeyError: 'gameId'

In [ ]:
box_score_df = box_score_df.dropna(subset=['three_point_field_goals_made'])

#box_score_df = box_score_df[box_score_df['season'] >= 2015]
box_score_df = box_score_df.sort_values('game_id', ascending=True)
box_score_df.head()

,game_id,season,season_type,game_date,game_date_time,athlete_id,athlete_display_name,team_id,team_name,team_location,...,opponent_team_name,opponent_team_location,opponent_team_display_name,opponent_team_abbreviation,opponent_team_logo,opponent_team_color,opponent_team_alternate_color,opponent_team_score,reason,free_throw_percent
30008,211030005,2002,2,2001-10-30,2001-10-31T00:00:00Z,779.0,Brian Skinner,5,Cavaliers,Cleveland,...,Celtics,Boston,Boston Celtics,BOS,https://a.espncdn.com/i/teamlogos/nba/500/bos.png,006532,f1f2f3,108,NaN,NaN
30001,211030005,2002,2,2001-10-30,2001-10-31T00:00:00Z,994.0,Joseph Forte,2,Celtics,Boston,...,Cavaliers,Cleveland,Cleveland Cavaliers,CLE,https://a.espncdn.com/i/teamlogos/nba/500/cle.png,061642,fdbb30,89,NaN,1.000
29993,211030005,2002,2,2001-10-30,2001-10-31T00:00:00Z,662.0,Paul Pierce,2,Celtics,Boston,...,Cavaliers,Cleveland,Cleveland Cavaliers,CLE,https://a.espncdn.com/i/teamlogos/nba/500/cle.png,061642,fdbb30,89,NaN,0.750
29992,211030005,2002,2,2001-10-30,2001-10-31T00:00:00Z,929.0,Eric Williams,2,Celtics,Boston,...,Cavaliers,Cleveland,Cleveland Cavaliers,CLE,https://a.espncdn.com/i/teamlogos/nba/500/cle.png,061642,fdbb30,89,NaN,0.750
29991,211030005,2002,2,2001-10-30,2001-10-31T00:00:00Z,881.0,Antoine Walker,2,Celtics,Boston,...,Cavaliers,Cleveland,Cleveland Cavaliers,CLE,https://a.espncdn.com/i/teamlogos/nba/500/cle.png,061642,fdbb30,89,NaN,0.875

In [ ]:
# Adding the free_throw_percent column
box_score_df['free_throw_percent'] = box_score_df['free_throws_made'] / box_score_df['free_throws_attempted']
box_score_df = box_score_df.dropna(subset=['free_throw_percent'])
box_score_df.head()

,game_id,season,season_type,game_date,game_date_time,athlete_id,athlete_display_name,team_id,team_name,team_location,...,opponent_team_name,opponent_team_location,opponent_team_display_name,opponent_team_abbreviation,opponent_team_logo,opponent_team_color,opponent_team_alternate_color,opponent_team_score,reason,free_throw_percent
30001,211030005,2002,2,2001-10-30,2001-10-31T00:00:00Z,994.0,Joseph Forte,2,Celtics,Boston,...,Cavaliers,Cleveland,Cleveland Cavaliers,CLE,https://a.espncdn.com/i/teamlogos/nba/500/cle.png,061642,fdbb30,89,NaN,1.000
29993,211030005,2002,2,2001-10-30,2001-10-31T00:00:00Z,662.0,Paul Pierce,2,Celtics,Boston,...,Cavaliers,Cleveland,Cleveland Cavaliers,CLE,https://a.espncdn.com/i/teamlogos/nba/500/cle.png,061642,fdbb30,89,NaN,0.750
29992,211030005,2002,2,2001-10-30,2001-10-31T00:00:00Z,929.0,Eric Williams,2,Celtics,Boston,...,Cavaliers,Cleveland,Cleveland Cavaliers,CLE,https://a.espncdn.com/i/teamlogos/nba/500/cle.png,061642,fdbb30,89,NaN,0.750
29991,211030005,2002,2,2001-10-30,2001-10-31T00:00:00Z,881.0,Antoine Walker,2,Celtics,Boston,...,Cavaliers,Cleveland,Cleveland Cavaliers,CLE,https://a.espncdn.com/i/teamlogos/nba/500/cle.png,061642,fdbb30,89,NaN,0.875
29994,211030005,2002,2,2001-10-30,2001-10-31T00:00:00Z,45.0,Tony Battie,2,Celtics,Boston,...,Cavaliers,Cleveland,Cleveland Cavaliers,CLE,https://a.espncdn.com/i/teamlogos/nba/500/cle.png,061642,fdbb30,89,NaN,1.000

In [ ]:
box_score_df_filtered = box_score_df[['game_id','game_date', 'season', 'season_type', 'athlete_display_name','team_name', 'team_id', 'minutes', 'three_point_field_goals_made', 'starter', 'free_throw_percent']]
box_score_df_filtered.head()

,game_id,game_date,season,season_type,athlete_display_name,team_name,team_id,minutes,three_point_field_goals_made,starter,free_throw_percent
30001,211030005,2001-10-30,2002,2,Joseph Forte,Celtics,2,13.0,0.0,False,1.000
29993,211030005,2001-10-30,2002,2,Paul Pierce,Celtics,2,28.0,2.0,True,0.750
29992,211030005,2001-10-30,2002,2,Eric Williams,Celtics,2,22.0,0.0,True,0.750
29991,211030005,2001-10-30,2002,2,Antoine Walker,Celtics,2,30.0,4.0,True,0.875
29994,211030005,2001-10-30,2002,2,Tony Battie,Celtics,2,15.0,0.0,True,1.000

In [ ]:
# Group by 'team_name', 'game_id', and 'season'
#grouped_df = box_score_df_filtered.groupby(['game_id', 'team_name', 'team_id', 'season', 'game_date'])

#summary_data = grouped_df.agg(team_three_pm=('three_point_field_goals_made', 'sum')).reset_index()
#summary_data = summary_data.sort_values('game_date')

# Calculate cumulative mean and next game stats
#summary_data['three_pm_cumsum'] = summary_data.groupby(["team_name", "team_id", "season"])['team_three_pm'].cumsum()
#summary_data['game_count'] = summary_data.groupby(["team_name", "team_id", "season"]).cumcount() + 1
#summary_data['three_pm_avg_to_date'] = summary_data['three_pm_cumsum'] / summary_data['game_count']
#summary_data['team_three_pm_next_game'] = summary_data.groupby(["team_name", "team_id", "season"])['team_three_pm'].shift(-1)
#summary_data = summary_data.dropna(subset=['team_three_pm_next_game'])

# Now, sorted_df contains your desired DataFrame with grouping and sorting applied
#print(summary_data)

# Group by 'team_name', 'game_id', and 'season'
grouped_df = box_score_df_filtered.groupby(['game_id', 'team_name', 'team_id', 'season', 'game_date'])

summary_data = grouped_df.agg(
    team_free_throw_percent=('free_throw_percent', 'mean'),
    team_three_pm=('three_point_field_goals_made', 'sum')
).reset_index()
summary_data = summary_data.sort_values('game_date')

# Calculate cumulative mean and next game stats for 'free_throw_percent'
summary_data['free_throw_percent_cumsum'] = summary_data.groupby(["team_name", "team_id", "season"])['team_free_throw_percent'].cumsum()
summary_data['free_throw_percent_game_count'] = summary_data.groupby(["team_name", "team_id", "season"]).cumcount() + 1
summary_data['free_throw_percent_avg_to_date'] = summary_data['free_throw_percent_cumsum'] / summary_data['free_throw_percent_game_count']
summary_data['team_free_throw_percent_next_game'] = summary_data.groupby(["team_name", "team_id", "season"])['team_free_throw_percent'].shift(-1)

# Calculate cumulative mean and next game stats for 'three_point_field_goals_made'
summary_data['three_pm_cumsum'] = summary_data.groupby(["team_name", "team_id", "season"])['team_three_pm'].cumsum()
summary_data['three_pm_game_count'] = summary_data.groupby(["team_name", "team_id", "season"]).cumcount() + 1
summary_data['three_pm_avg_to_date'] = summary_data['three_pm_cumsum'] / summary_data['three_pm_game_count']
summary_data['team_three_pm_next_game'] = summary_data.groupby(["team_name", "team_id", "season"])['team_three_pm'].shift(-1)

# Drop rows with NaN values in 'team_free_throw_percent_next_game' and 'team_three_pm_next_game'
summary_data = summary_data.dropna(subset=['team_free_throw_percent_next_game', 'team_three_pm_next_game'])

# Now, summary_data contains your desired DataFrame with grouping, sorting, and cumulative mean applied
print(summary_data)

         game_id  team_name  team_id  season   game_date  \
0      211030005  Cavaliers        5    2002  2001-10-30
23     211030026       Jazz       26    2002  2001-10-30
22     211030026      Bucks       15    2002  2001-10-30
21     211030024      Spurs       24    2002  2001-10-30
20     211030024   Clippers       12    2002  2001-10-30
...          ...        ...      ...     ...         ...
58221  401585546    Hornets       30    2024  2024-03-09
58220  401585545   Clippers       12    2024  2024-03-09
58219  401585545      Bulls        4    2024  2024-03-09
58225  401585548    Celtics        2    2024  2024-03-09
58245  401585558  Cavaliers        5    2024  2024-03-10

       team_free_throw_percent  team_three_pm  free_throw_percent_cumsum  \
0                     0.750000            2.0                   0.750000
23                    0.891156            2.0                   0.891156
22                    0.819444            8.0                   0.819444
21                    0.651042           10.0                   0.651042
20                    0.739683            0.0                   0.739683
...                        ...            ...                        ...
58221                 0.816667            9.0                  49.555664
58220                 0.883333           11.0                  49.786221
58219                 0.727778            5.0                  50.023116
58225                 0.892857           11.0                  50.651024
58245                 0.656250           11.0                  48.120607

       free_throw_percent_game_count  free_throw_percent_avg_to_date  \
0                                  1                        0.750000
23                                 1                        0.891156
22                                 1                        0.819444
21                                 1                        0.651042
20                                 1                        0.739683
...                              ...                             ...
58221                             64                        0.774307
58220                             62                        0.803004
58219                             64                        0.781611
58225                             63                        0.803985
58245                             64                        0.751884

       team_free_throw_percent_next_game  three_pm_cumsum  \
0                               0.880682              2.0
23                              0.742857              2.0
22                              0.788095              8.0
21                              0.832200             10.0
20                              0.665441              0.0
...                                  ...              ...
58221                           0.609259            523.0
58220                           0.944444            604.0
58219                           0.680556            464.0
58225                           0.583333            628.0
58245                           0.888889            500.0

       three_pm_game_count  three_pm_avg_to_date  team_three_pm_next_game
0                        1              2.000000                      0.0
23                       1              2.000000                      2.0
22                       1              8.000000                     13.0
21                       1             10.000000                      6.0
20                       1              0.000000                      2.0
...                    ...                   ...                      ...
58221                   64              8.171875                     13.0
58220                   62              9.741935                      6.0
58219                   64              7.250000                      4.0
58225                   63              9.968254                      2.0
58245                   64              7.812500                     10.0

[57613 rows x 15 columns]

In [ ]:
# Test to see if summary data is sorted and calculated properly
summary_data[(summary_data['team_id'] == 9) & (summary_data['season'] == 2018)]

,game_id,team_name,team_id,season,game_date,team_free_throw_percent,team_three_pm,free_throw_percent_cumsum,free_throw_percent_game_count,free_throw_percent_avg_to_date,team_free_throw_percent_next_game,three_pm_cumsum,three_pm_game_count,three_pm_avg_to_date,team_three_pm_next_game
41257,400974438,Warriors,9,2018,2017-10-17,0.912500,12.0,0.912500,1,0.912500,0.750000,12.0,1,12.000000,8.0
41269,400974444,Warriors,9,2018,2017-10-20,0.750000,8.0,1.662500,2,0.831250,0.833333,20.0,2,10.000000,12.0
41329,400974784,Warriors,9,2018,2017-10-21,0.833333,12.0,2.495833,3,0.831944,0.736111,32.0,3,10.666667,11.0
41353,400974796,Warriors,9,2018,2017-10-23,0.736111,11.0,3.231944,4,0.807986,0.791667,43.0,4,10.750000,8.0
41389,400974814,Warriors,9,2018,2017-10-25,0.791667,8.0,4.023611,5,0.804722,0.875000,51.0,5,10.200000,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43855,401032766,Warriors,9,2018,2018-05-26,0.626984,2.0,76.546083,98,0.781082,0.233333,762.0,98,7.775510,8.0
43857,401032767,Warriors,9,2018,2018-05-28,0.233333,8.0,76.779416,99,0.775550,0.983333,770.0,99,7.777778,13.0
43873,401034613,Warriors,9,2018,2018-05-31,0.983333,13.0,77.762749,100,0.777627,0.562500,783.0,100,7.830000,14.0
43875,401034614,Warriors,9,2018,2018-06-03,0.562500,14.0,78.325249,101,0.775498,0.900000,797.0,101,7.891089,7.0
43877,401034615,Warriors,9,2018,2018-06-06,0.900000,7.0,79.225249,102,0.776718,1.000000,804.0,102,7.882353,7.0

In [ ]:
# Export to CSV
summary_data.to_csv('summary_data.csv', index=False)