In [25]:
import pandas as pd 
import numpy as np

In [26]:
# Get stats from csv
box_score_df = pd.read_csv('boxscore_data.csv')

C:\Users\goche\AppData\Local\Temp\ipykernel_31264\793155810.py:2: DtypeWarning: Columns (26,56) have mixed types. Specify dtype option on import or set low_memory=False.
  box_score_df = pd.read_csv('boxscore_data.csv')

In [27]:
# # This function is not working yet

# # Function to get advanced stats for a specific game
# def get_advanced_stats(game_id):
#     boxscore_advanced = BoxScoreAdvancedV3(game_id)
#     player_stats = boxscore_advanced.player_stats.get_data_frame()
#     return player_stats

# # Function to iterate through games and create a DataFrame
# def create_advanced_stats_dataframe(game_ids):
#     player_stats_list = []

#     for game_id in game_ids:
#         player_stats = get_advanced_stats(game_id)
#         player_stats_list.append(player_stats)

#     all_player_stats = pd.concat(player_stats_list, ignore_index=True)

#     return all_player_stats

# # Extract the list of game IDs from the 'Game_ID' column of 'raptors_df'
# game_ids_list = box_score_df['game_id'].tolist()

# player_adv_stats_df = create_advanced_stats_dataframe(game_ids_list)

In [28]:
box_score_df = box_score_df.dropna(subset=['three_point_field_goals_made'])

# box_score_df = box_score_df[box_score_df['season'] >= 2015]
box_score_df = box_score_df.sort_values('game_id', ascending=True)
box_score_df.head()

,game_id,season,season_type,game_date,game_date_time,athlete_id,athlete_display_name,team_id,team_name,team_location,...,opponent_team_id,opponent_team_name,opponent_team_location,opponent_team_display_name,opponent_team_abbreviation,opponent_team_logo,opponent_team_color,opponent_team_alternate_color,opponent_team_score,reason
30008,211030005,2002,2,2001-10-30,2001-10-31T00:00:00Z,779.0,Brian Skinner,5,Cavaliers,Cleveland,...,2,Celtics,Boston,Boston Celtics,BOS,https://a.espncdn.com/i/teamlogos/nba/500/bos.png,006532,f1f2f3,108,NaN
30014,211030005,2002,2,2001-10-30,2001-10-31T00:00:00Z,811.0,Bryant Stith,5,Cavaliers,Cleveland,...,2,Celtics,Boston,Boston Celtics,BOS,https://a.espncdn.com/i/teamlogos/nba/500/bos.png,006532,f1f2f3,108,NaN
30011,211030005,2002,2,2001-10-30,2001-10-31T00:00:00Z,159.0,Bimbo Coles,5,Cavaliers,Cleveland,...,2,Celtics,Boston,Boston Celtics,BOS,https://a.espncdn.com/i/teamlogos/nba/500/bos.png,006532,f1f2f3,108,NaN
30010,211030005,2002,2,2001-10-30,2001-10-31T00:00:00Z,992.0,DeSagana Diop,5,Cavaliers,Cleveland,...,2,Celtics,Boston,Boston Celtics,BOS,https://a.espncdn.com/i/teamlogos/nba/500/bos.png,006532,f1f2f3,108,NaN
30009,211030005,2002,2,2001-10-30,2001-10-31T00:00:00Z,407.0,Jumaine Jones,5,Cavaliers,Cleveland,...,2,Celtics,Boston,Boston Celtics,BOS,https://a.espncdn.com/i/teamlogos/nba/500/bos.png,006532,f1f2f3,108,NaN

In [29]:
# Adding the free_throw_percent column
box_score_df['free_throw_percent'] = box_score_df['free_throws_made'] / box_score_df['free_throws_attempted']
box_score_df = box_score_df.dropna(subset=['free_throw_percent'])
box_score_df.head()

,game_id,season,season_type,game_date,game_date_time,athlete_id,athlete_display_name,team_id,team_name,team_location,...,opponent_team_name,opponent_team_location,opponent_team_display_name,opponent_team_abbreviation,opponent_team_logo,opponent_team_color,opponent_team_alternate_color,opponent_team_score,reason,free_throw_percent
30011,211030005,2002,2,2001-10-30,2001-10-31T00:00:00Z,159.0,Bimbo Coles,5,Cavaliers,Cleveland,...,Celtics,Boston,Boston Celtics,BOS,https://a.espncdn.com/i/teamlogos/nba/500/bos.png,006532,f1f2f3,108,NaN,1.0
30013,211030005,2002,2,2001-10-30,2001-10-31T00:00:00Z,457.0,Trajan Langdon,5,Cavaliers,Cleveland,...,Celtics,Boston,Boston Celtics,BOS,https://a.espncdn.com/i/teamlogos/nba/500/bos.png,006532,f1f2f3,108,NaN,1.0
30007,211030005,2002,2,2001-10-30,2001-10-31T00:00:00Z,557.0,Andre Miller,5,Cavaliers,Cleveland,...,Celtics,Boston,Boston Celtics,BOS,https://a.espncdn.com/i/teamlogos/nba/500/bos.png,006532,f1f2f3,108,NaN,0.5
30005,211030005,2002,2,2001-10-30,2001-10-31T00:00:00Z,207.0,Michael Doleac,5,Cavaliers,Cleveland,...,Celtics,Boston,Boston Celtics,BOS,https://a.espncdn.com/i/teamlogos/nba/500/bos.png,006532,f1f2f3,108,NaN,1.0
30003,211030005,2002,2,2001-10-30,2001-10-31T00:00:00Z,586.0,Lamond Murray,5,Cavaliers,Cleveland,...,Celtics,Boston,Boston Celtics,BOS,https://a.espncdn.com/i/teamlogos/nba/500/bos.png,006532,f1f2f3,108,NaN,0.0

In [75]:
# Adding the three point percent column
box_score_df['three_point_percent'] = box_score_df['three_point_field_goals_made'] / box_score_df['three_point_field_goals_attempted']
box_score_df = box_score_df.dropna(subset=['three_point_percent'])

In [76]:
# Adding possessions column
box_score_df['possessions'] = box_score_df['field_goals_attempted'] + (0.44 * box_score_df['free_throws_attempted']) - box_score_df['offensive_rebounds'] + box_score_df['turnovers']

In [77]:
# Adding orating column
box_score_df['orating'] = 100 * (box_score_df['points']/box_score_df['possessions'])

In [97]:
# Filtering the dataframe for necessary columns
box_score_df_filtered = box_score_df[['game_id','game_date', 'season', 'season_type', 'athlete_display_name','team_name', 'team_id', 'minutes', 'points', 'field_goals_made', 'three_point_field_goals_made', 'three_point_percent', 'free_throw_percent', 'offensive_rebounds', 'defensive_rebounds', 'orating', 'turnovers']]
box_score_df_filtered.head()

,game_id,game_date,season,season_type,athlete_display_name,team_name,team_id,minutes,points,field_goals_made,three_point_field_goals_made,three_point_percent,free_throw_percent,offensive_rebounds,defensive_rebounds,orating,turnovers
30013,211030005,2001-10-30,2002,2,Trajan Langdon,Cavaliers,5,24.0,13.0,5.0,2.0,0.285714,1.0,1.0,3.0,104.501608,0.0
30003,211030005,2001-10-30,2002,2,Lamond Murray,Cavaliers,5,14.0,6.0,3.0,0.0,0.000000,0.0,1.0,2.0,80.645161,2.0
30012,211030005,2001-10-30,2002,2,Ricky Davis,Cavaliers,5,9.0,12.0,5.0,0.0,0.000000,1.0,0.0,1.0,135.135135,1.0
29999,211030005,2001-10-30,2002,2,Milt Palacio,Celtics,2,21.0,8.0,2.0,2.0,0.666667,1.0,0.0,2.0,136.054422,0.0
29995,211030005,2001-10-30,2002,2,Kenny Anderson,Celtics,2,22.0,7.0,2.0,0.0,0.000000,1.0,0.0,7.0,110.759494,1.0

In [98]:
# Group by 'team_name', 'game_id', and 'season'
grouped_df = box_score_df_filtered.groupby(['game_id', 'team_name', 'team_id', 'season', 'game_date'])
grouped_df.head()

,game_id,game_date,season,season_type,athlete_display_name,team_name,team_id,minutes,points,field_goals_made,three_point_field_goals_made,three_point_percent,free_throw_percent,offensive_rebounds,defensive_rebounds,orating,turnovers
30013,211030005,2001-10-30,2002,2,Trajan Langdon,Cavaliers,5,24.0,13.0,5.0,2.0,0.285714,1.00,1.0,3.0,104.501608,0.0
30003,211030005,2001-10-30,2002,2,Lamond Murray,Cavaliers,5,14.0,6.0,3.0,0.0,0.000000,0.00,1.0,2.0,80.645161,2.0
30012,211030005,2001-10-30,2002,2,Ricky Davis,Cavaliers,5,9.0,12.0,5.0,0.0,0.000000,1.00,0.0,1.0,135.135135,1.0
29999,211030005,2001-10-30,2002,2,Milt Palacio,Celtics,2,21.0,8.0,2.0,2.0,0.666667,1.00,0.0,2.0,136.054422,0.0
29995,211030005,2001-10-30,2002,2,Kenny Anderson,Celtics,2,22.0,7.0,2.0,0.0,0.000000,1.00,0.0,7.0,110.759494,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
746343,401636113,2024-02-15,2024,2,Klay Thompson,Warriors,9,28.0,35.0,13.0,7.0,0.538462,1.00,0.0,6.0,152.972028,0.0
746340,401636113,2024-02-15,2024,2,Dario Saric,Warriors,9,10.0,7.0,2.0,1.0,0.333333,1.00,1.0,2.0,143.442623,1.0
746338,401636113,2024-02-15,2024,2,Stephen Curry,Warriors,9,35.0,16.0,4.0,2.0,0.250000,0.75,1.0,1.0,77.972710,4.0
746337,401636113,2024-02-15,2024,2,Andrew Wiggins,Warriors,9,29.0,19.0,7.0,3.0,0.750000,1.00,3.0,4.0,147.515528,3.0
746345,401636113,2024-02-15,2024,2,Lester Quinones,Warriors,9,16.0,6.0,1.0,1.0,0.500000,0.75,0.0,1.0,159.574468,0.0

In [99]:
# Aggregate data
summary_data = grouped_df.agg(
    team_fgm=('field_goals_made', 'sum'),
    team_free_throw_percent=('free_throw_percent', 'mean'),
    team_three_pm=('three_point_field_goals_made', 'sum'),
    team_three_percent=('three_point_percent', 'mean'),
    team_orating=('orating', 'mean'),
    team_oreb=('offensive_rebounds','sum'),
    team_dreb=('defensive_rebounds', 'sum'),
    team_to=('offensive_rebounds','sum'),
    team_points=('points','sum')
).reset_index()
summary_data = summary_data.sort_values('game_date')

summary_data.head()

,game_id,team_name,team_id,season,game_date,team_fgm,team_free_throw_percent,team_three_pm,team_three_percent,team_orating,team_oreb,team_dreb,team_to,team_points
0,211030005,Cavaliers,5,2002,2001-10-30,13.0,0.666667,2.0,0.095238,106.760635,2.0,6.0,2.0,31.0
23,211030026,Jazz,26,2002,2001-10-30,18.0,1.000000,2.0,0.166667,129.758218,5.0,6.0,5.0,44.0
22,211030026,Bucks,15,2002,2001-10-30,33.0,0.958333,8.0,0.280754,111.459637,4.0,7.0,4.0,93.0
21,211030024,Spurs,24,2002,2001-10-30,19.0,0.666667,10.0,0.493333,107.753534,6.0,8.0,6.0,61.0
20,211030024,Clippers,12,2002,2001-10-30,17.0,0.819444,0.0,0.000000,90.882898,4.0,15.0,4.0,50.0

In [100]:
# List of columns to process
columns_to_process = ['team_fgm', 'team_free_throw_percent', 'team_three_percent', 'team_three_pm', 'team_orating', 'team_oreb', 'team_dreb', 'team_to', 'team_points']
    
def calculate_cumulative_stats(summary_data, column_name):
    # Calculate cumulative sum for the specified column
    summary_data[f'{column_name}_cumsum'] = summary_data.groupby(["team_name", "team_id", "season"])[column_name].cumsum()
    
    # Calculate game count
    summary_data[f'{column_name}_game_count'] = summary_data.groupby(["team_name", "team_id", "season"]).cumcount() + 1
    
    # Calculate average to date
    summary_data[f'{column_name}_avg_to_date'] = summary_data[f'{column_name}_cumsum'] / summary_data[f'{column_name}_game_count']
    
    # Calculate next game stats
    summary_data[f'{column_name}_next_game'] = summary_data.groupby(["team_name", "team_id", "season"])[column_name].shift(-1)

In [101]:
# Process each column
for column in columns_to_process:
    calculate_cumulative_stats(summary_data, column)
    
# Drop rows with NaN values
summary_data.dropna(inplace=True)

In [102]:
print(summary_data)

         game_id  team_name  team_id  season   game_date  team_fgm  \
0      211030005  Cavaliers        5    2002  2001-10-30      13.0
23     211030026       Jazz       26    2002  2001-10-30      18.0
22     211030026      Bucks       15    2002  2001-10-30      33.0
21     211030024      Spurs       24    2002  2001-10-30      19.0
20     211030024   Clippers       12    2002  2001-10-30      17.0
...          ...        ...      ...     ...         ...       ...
58102  401585546    Hornets       30    2024  2024-03-09      30.0
58101  401585545   Clippers       12    2024  2024-03-09      29.0
58100  401585545      Bulls        4    2024  2024-03-09      24.0
58106  401585548    Celtics        2    2024  2024-03-09      26.0
58126  401585558  Cavaliers        5    2024  2024-03-10      22.0

       team_free_throw_percent  team_three_pm  team_three_percent  \
0                     0.666667            2.0            0.095238
23                    1.000000            2.0            0.166667
22                    0.958333            8.0            0.280754
21                    0.666667           10.0            0.493333
20                    0.819444            0.0            0.000000
...                        ...            ...                 ...
58102                 0.780000            9.0            0.460000
58101                 0.860000           11.0            0.391111
58100                 0.962963            5.0            0.277778
58106                 0.857143           11.0            0.528042
58126                 0.666667           11.0            0.415476

       team_orating  ...  team_dreb_avg_to_date  team_dreb_next_game  \
0        106.760635  ...               6.000000                  3.0
23       129.758218  ...               6.000000                 23.0
22       111.459637  ...               7.000000                 14.0
21       107.753534  ...               8.000000                  6.0
20        90.882898  ...              15.000000                 14.0
...             ...  ...                    ...                  ...
58102    118.881698  ...              16.562500                 18.0
58101    131.434300  ...              18.274194                  9.0
58100    100.609032  ...              17.687500                  7.0
58106    114.192679  ...              21.714286                  8.0
58126    102.532300  ...              14.562500                 15.0

       team_to_cumsum  team_to_game_count  team_to_avg_to_date  \
0                 2.0                   1             2.000000
23                5.0                   1             5.000000
22                4.0                   1             4.000000
21                6.0                   1             6.000000
20                4.0                   1             4.000000
...               ...                 ...                  ...
58102           236.0                  64             3.687500
58101           238.0                  62             3.838710
58100           309.0                  64             4.828125
58106           312.0                  63             4.952381
58126           252.0                  64             3.937500

       team_to_next_game  team_points_cumsum  team_points_game_count  \
0                    0.0                31.0                       1
23                   9.0                44.0                       1
22                   1.0                93.0                       1
21                   1.0                61.0                       1
20                   9.0                50.0                       1
...                  ...                 ...                     ...
58102                4.0              4514.0                      64
58101                5.0              4990.0                      62
58100                5.0              4826.0                      64
58106                4.0              5299.0                      63
58126                5.0              4181.0                      64

       team_points_avg_to_date  team_points_next_game
0                    31.000000                   11.0
23                   44.000000                   67.0
22                   93.000000                   81.0
21                   61.000000                   48.0
20                   50.000000                   31.0
...                        ...                    ...
58102                70.531250                   83.0
58101                80.483871                   55.0
58100                75.406250                   40.0
58106                84.111111                   29.0
58126                65.328125                   73.0

[57494 rows x 50 columns]

In [103]:
# Test to see if summary data is sorted and calculated properly
summary_data[(summary_data['team_id'] == 9) & (summary_data['season'] == 2018)]

,game_id,team_name,team_id,season,game_date,team_fgm,team_free_throw_percent,team_three_pm,team_three_percent,team_orating,...,team_dreb_avg_to_date,team_dreb_next_game,team_to_cumsum,team_to_game_count,team_to_avg_to_date,team_to_next_game,team_points_cumsum,team_points_game_count,team_points_avg_to_date,team_points_next_game
41139,400974438,Warriors,9,2018,2017-10-17,25.0,0.950000,12.0,0.522619,133.054479,...,20.000000,17.0,3.0,1,3.000000,2.0,74.0,1,74.000000,68.0
41151,400974444,Warriors,9,2018,2017-10-20,23.0,0.875000,8.0,0.465909,136.086617,...,18.500000,25.0,5.0,2,2.500000,3.0,142.0,2,71.000000,83.0
41211,400974784,Warriors,9,2018,2017-10-21,26.0,0.750000,12.0,0.309975,90.261517,...,20.666667,16.0,8.0,3,2.666667,2.0,225.0,3,75.000000,77.0
41235,400974796,Warriors,9,2018,2017-10-23,24.0,0.937500,11.0,0.442857,121.018370,...,19.500000,15.0,10.0,4,2.500000,4.0,302.0,4,75.500000,74.0
41271,400974814,Warriors,9,2018,2017-10-25,24.0,0.888889,8.0,0.454545,123.031424,...,18.600000,19.0,14.0,5,2.800000,5.0,376.0,5,75.200000,69.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43737,401032766,Warriors,9,2018,2018-05-26,7.0,0.690476,2.0,0.266667,109.765677,...,18.112245,8.0,253.0,98,2.581633,0.0,6662.0,98,67.979592,53.0
43739,401032767,Warriors,9,2018,2018-05-28,19.0,0.350000,8.0,0.441558,121.867473,...,18.010101,28.0,253.0,99,2.555556,1.0,6715.0,99,67.828283,92.0
43755,401034613,Warriors,9,2018,2018-05-31,32.0,0.975000,13.0,0.374351,115.617898,...,18.110000,23.0,254.0,100,2.540000,3.0,6807.0,100,68.070000,84.0
43757,401034614,Warriors,9,2018,2018-06-03,31.0,0.750000,14.0,0.392770,136.253433,...,18.158416,19.0,257.0,101,2.544554,1.0,6891.0,101,68.227723,64.0
43759,401034615,Warriors,9,2018,2018-06-06,22.0,1.000000,7.0,0.255556,100.237895,...,18.166667,15.0,258.0,102,2.529412,3.0,6955.0,102,68.186275,57.0

In [104]:
# Export to CSV
summary_data.to_csv('summary_data.csv', index=False, mode='w')